@import url(reset.css);

body {
    font-family: "Rubik", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    /* background-image: url("/DB BOOKS/images/books.jpg"); */
    background-image: url("/DB BOOKS/images/backgroundbook.jpg");
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

/* main container  */

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #73d378;
}

button {
    background-color: #f3ebea;
    color: rgb(73, 73, 73);
    border: none;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

.favorite-icon {
    font-size: 36px;
    cursor: pointer;
    color: #ccc;
    /* Unfilled color */
    transition: color 0.3s;
}

.favorite-icon.filled {
    color: gold;
    /* Filled color */
}

.book-name-and-fav-icon-wrapper {
    display: flex;

}

/* header first div  */

.header-and-search-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-and-search-wrapper h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

#searchBarForm {
    display: flex;
    gap: 10px;
}

.search-container button {
    width: 50px;
}

/* buttons + form second div  */

.actions-buttons-and-form {
    align-items: center;
    display: flex;
    gap: 40px;
}


.form-container {
    display: none;
    position: fixed;
    width: 80vw;
    height: 80vh;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 9999;
}

.close-form-btn {
    align-self: flex-end;
    background-color: #ba1111;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.close-form-btn:hover {
    background-color: #a00d0d;
}

.new-book-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.new-book-form input {
    width: 600px;
}

.new-book-form div {
    display: flex;
    justify-content: space-between;
}

.new-book-form-by-ISBN {
    display: none;
}

.hide-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

.hide-button:hover {
    background-color: #ba1111;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.message {
    background: #e7f3fe;
    color: #31708f;
}

#paging-handell {
    display: flex;
    gap: 5px;
}

.modal-and-booklist-wrapper {
    display: flex;
    gap: 1rem;
}

#books-container {
    background-color: #F9F5F3;
    padding: 2rem;
    border-radius: 10px;
}

.modal {
    width: 70vw;
}

#book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-modal-btn {
    display: none;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.each-book-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
}

.each-book-in-list {
    display: flex;
    gap: 8px;
    background-color: #e6e2e096;
    border-radius: 5px;
    padding: 20px;
    width: 30vw;
}

.img-and-info {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.each-book-in-list:hover {
    cursor: pointer;
    background-color: #cec8c8;
}

@media (max-width: 600px) {
    .btn-container {
        flex-direction: column;
    }

    .btn-container button {
        margin: 10px 0;
    }
}