@import url(reset.css);

body {
    font-family: "Rubik", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    background-color: #e6e2e096;
}

/* nav bar  */

/* nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
} */

/* main container  */

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

button:hover {
    /* background-color: #73d378; */
    background-color: #75b3f5;
}

button {
    background-color: #f3ebea;
    color: rgb(73, 73, 73);
    border: none;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

/* header first div  */

.header-and-search-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-and-search-wrapper h1 {
    font-weight: 700;
    font-style: normal;
}

#searchBarForm {
    display: flex;
    gap: 10px;
}

#searchBar {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

#searchBar:focus {
    border-color: #b1cce9;

}

.search-container button {
    padding: 10px 20px;
    border: 1px solid #007BFF;
    border-radius: 0 5px 5px 0;
    background-color: #4c9cf1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.search-container button:hover {
    background-color: #356ca7;
    border-color: #0056b3;
}

/* buttons + CREATE BOOK FORM second div  */

.buttons-div-container {
    align-items: center;
    display: flex;
    gap: 40px;
}


.form-container {
    display: none;
    position: fixed;
    width: 80vw;
    height: 90vh;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 9999;
}

.h2-in-form {
    align-self: center;
}

.close-form-btn {
    align-self: flex-end;
    background-color: #ba1111;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.close-form-btn:hover {
    background-color: #a00d0d;
}

.new-book-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.new-book-form div {
    display: flex;
    justify-content: space-between;
}


.new-book-form input {
    width: 600px;
}

.submit-new-book-button {
    align-self: center;
    width: 120px;
}

.new-book-form input[type="text"],
.new-book-form input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-book-form input[type="text"]:focus,
.new-book-form input[type="number"]:focus {
    border-color: #b1cce9;
    outline: none;
}


/* Third div right side of book information div  */

#feel-free {
    margin-top: 50px;
    font-size: 24px;
}

.modal-and-booklist-wrapper { /* makes gap between the left div of books and the right div of information */
    display: flex;
    gap: 1.5rem;
}

.modal {
    display: flex;
    width: 70vw;
    justify-content: center;
}

.close-modal-btn {
    display: none;
    margin-bottom: 1rem;
    color: white;
    background-color: #ba1111;
}

.close-modal-btn:hover, .delete-book-button:hover {
    background-color: #a00d0d;
}

.delete-book-button {
    color: white;
    background-color: #ba1111;
    width: 150px;
}

.img-and-info { /* Arrange the information of the book when it clicked  */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.right-to-img-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 250px;
}

.copies-and-buttons {
    display: flex;
    justify-content: space-between;
}

.increase-and-decrease-buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

/* Third div left side of book list div  */

/* .book-name-and-fav-icon-wrapper {
    display: flex;
} */

.favorite-icon {
    font-size: 36px;
    cursor: pointer;
    color: #262323;
    transition: color 0.2s;
    width: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.favorite-icon:hover {
    color: gold;
}

.favorite-icon.filled {
    color: gold;
}

.button-container { /* the prev and next buttons container  */
    margin-bottom: 1rem;
}

#pages-arrows {
    display: flex;
    gap: 5px;
}

#paging-handell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    gap: 5px;
}

#books-container { /*  */
    background-color: #F9F5F3;
    padding: 2rem;
    border-radius: 10px;
    width: 40vw;
}

#book-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.book-list { /* gap between each book container in list */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.each-book-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
    gap: 4px;
    
}

.each-book-in-list {
    position: relative;
    display: flex;
    gap: 8px;
    background-color: #e6e2e096;
    border-radius: 5px;
    padding: 20px;
    width: 30vw;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.each-book-in-list:hover {
    cursor: pointer;
    background-color: #cec8c8;
    transform: translateX(-5px); /* Move the element 5px higher on hover */
}

/* other  */

.success-message {
    position: absolute;
    color: black;
    border: solid 1px #00fc0d;
    border-radius: 5px;
    background-color: #73d378;
    padding: 5px;
    left: 80vw;
    top: 20vh;
}

/* loader */

.loader {
    position: relative;
    width: 33px;
    height: 33px;
    perspective: 67px;
  }
  
  .loader div {
    width: 100%;
    height: 100%;
    background: #2f3545;
    position: absolute;
    left: 50%;
    transform-origin: left;
    animation: loader 2s infinite;
  }
  
  .loader div:nth-child(1) {
    animation-delay: 0.15s;
  }
  
  .loader div:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader div:nth-child(3) {
    animation-delay: 0.45s;
  }
  
  .loader div:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .loader div:nth-child(5) {
    animation-delay: 0.75s;
  }
  
  @keyframes loader {
    0% {
      transform: rotateY(0deg);
    }
  
    50%, 80% {
      transform: rotateY(-180deg);
    }
  
    90%, 100% {
      opacity: 0;
      transform: rotateY(-180deg);
    }
  }


@media (max-width: 600px) {
    .btn-container {
        flex-direction: column;
    }

    .btn-container button {
        margin: 10px 0;
    }
}